* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #67088A 11%, #650787 24%, #830CAD 26%, #820CAD 45%, #4D0A62 80%, #39004E 89%);
}

.burger {
    display: none;
    background: none;
    border: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.header {
    background-color: #18141B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    flex-wrap: wrap;
}

.logo {
    height: 60px;
    transform: scale(1.4);
}

.nav-links {
    display: flex;
    gap: 30px;
    color: white;
    flex-wrap: wrap;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: opacity 0.3s;
}

.nav-links a:hover,
.actions a:hover {
    opacity: 0.7;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.login {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.partner-button {
    background: #FFD701;
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: transform 0.2s;
}

.partner-button:hover {
    transform: scale(1.05);
}

.monkey-section {
    background: linear-gradient(180deg, #BF47F7 0%, #C046F3 11%, #C24EF7 17%, #BD3DF0 30%, #B139E9 45%, #A526E5 51%, #A119DB 61%, #9919D2 72%, #980FD1 81%, #900CCE 100%);
    border-radius: 20px;
    margin: 20px 5%;
    padding: 40px 20px;
    width: 90%;
    color: #000;
    position: relative;
    overflow: hidden;
}

.monkey-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.monkey-text {
    width: 100%;
}

.monkey-text h1 {
    color: #28171D;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}

.monkey-text p {
    font-size: 26px;
    margin-bottom: 20px;
    color: #000000;
}

.monkey-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.monkey-button {
    background: #FFD701;
    color: black;
    padding: 12px 25px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    border: none;
    cursor: pointer;
}

.monkey-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0,0,0,0.3);
}

.monkey-image {
    position: absolute;
    bottom: -5px;
    right: -2px;
    max-width: 500px;
    z-index: 1;
    transform: scale(1.4);
}

.monkey-image img {
    width: 100%;
    height: auto;
    border-radius: 0;
}


.afMonD{
    display: flex;
    justify-content: flex-end;
}

.afMonP{
    margin-right: 10%;
    color: #20102C;
    font-size: 24px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: Abhaya Libre ExtraBold, sans-serif;
}

.why-earn-section {
    margin: 60px auto;
    padding: 20px;
    width: 90%;
    text-align: left;
    color: white;
}

.why-title {
    font-size: 42px;
    margin-bottom: 40px;
    color: white;
    text-align: left;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.earn-card {
    background-color: #20102C;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.2s;
}

.earn-card div {
    display: flex;
    align-items: center;
}

.earn-card:hover {
    transform: scale(1.03);
}

.earn-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.earn-card h3 {
    font-size: 24px;
    color: #fff;
}

.earn-card p {
    font-size: 20px;
    color: #ddd;
    line-height: 1.4;
}

@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .monkey-text h1 {
        font-size: 48px;
    }

    .monkey-text p {
        font-size: 22px;
    }

    .partner-button,
    .login {
        font-size: 20px;
    }

    .monkey-section {
        padding: 40px 30px;
        min-height: 450px;
    }

    .monkey-content {
        max-width: 100%;
        z-index: 2;
        position: relative;
    }

    .monkey-button-wrapper {
        justify-content: flex-start;
    }

    .monkey-image {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 300px;
        z-index: 1;
        transform: scale(1.7);
    }

    .monkey-image img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 768px) {
    .afMonD {
        justify-content: center;
        padding: 0 10px;
    }

    .afMonP {
        margin-right: 0;
        font-size: 18px;
        text-align: center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        gap: 20px;
        flex-wrap: wrap;
        position: relative;
    }

    .burger {
        display: block;
        background: none;
        border: none;
        font-size: 32px;
        color: white;
        cursor: pointer;
        order: 2;
        z-index: 1001;
        position: relative;
    }

    .nav-links, .actions {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        flex-direction: column;
        width: 100%;
        background-color: #18141B;
        position: absolute;
        left: 0;
        z-index: 1000;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .nav-links {
        top: 100%;
        gap: 15px;
    }

    .actions {
        top: calc(100% + 170px);
        gap: 15px;
        align-items: flex-start;
    }

    .nav-links.show, .actions.show {
        max-height: 600px;
        opacity: 1;
    }

    .monkey-section {
        padding: 30px 20px;
        text-align: center;
        min-height: 400px;
    }

    .monkey-content {
        max-width: 100%;
        z-index: 2;
        position: relative;
    }

    .monkey-text h1 {
        font-size: 32px;
        line-height: 1.2;
    }

    .monkey-text p {
        font-size: 18px;
    }

    .monkey-button-wrapper {
        justify-content: center;
    }

    .monkey-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .monkey-image {
        position: absolute;
        bottom: -5px;
        right: -3px;
        max-width: 200px;
        z-index: 1;
        transform: scale(1.9);
    }

    .monkey-image img {
        width: 100%;
        height: auto;
    }


    .cards-container {
        grid-template-columns: 1fr;
    }
}

.commissions-section {
    margin: 80px auto;
    width: 90%;
    color: white;
}

.commissions-title {
    font-size: 42px;
    font-family: "Inter", serif;
    margin-bottom: 20px;
}

.stripe {
    height: 2px;
    background-color: white;
    width: 90%;
    margin: 20px auto;
}

.commissions-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.commission-card {
    width: 418px;
    height: 162px;
    border-radius: 16px;
    padding: 20px;
    background: #FFD701;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.2s;
}

.commission-card:hover{
    transform: scale(1.03);
}

.commission-card h3 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.commission-card p {
    font-size: 16px;
    color: black;
}

.join-now-button {
    margin-top: 40px;
    padding: 12px 30px;
    font-size: 24px;
    border-radius: 32px;
    border: none;
    background: #FFD701;
    cursor: pointer;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.join-now-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(0,0,0,0.4);
}

.front-hand{
    width: 45px;
    height: 45px;
}

.join-now-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.join-now-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-us-section {
    width: 90%;
    margin: 80px auto;
    padding: 20px;
    color: white;
    border-radius: 20px;
}

.about-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-subtitle {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

.about-text {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-list {
    font-size: 24px;
    line-height: 1.6;
    padding-left: 20px;
    list-style-type: disc;
}

.faq-section {
    width: 90%;
    margin: 60px auto;
    color: white;
}

.faq-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
}

.faq-item {
    margin-bottom: 15px;
    width: 100%;
}

.faq-question {
    width: 100%;
    padding: 16px 24px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #39004E 0%, #20102C 100%);
    border: none;
    border-radius: 14px;
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: background 0.3s;
}

.faq-question::after {
    content: "⌄";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    transition: transform 0.3s;
}

.faq-question.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0 24px;
    font-size: 20px;
    border-radius: 0 0 14px 14px;
}

.faq-answer p {
    margin: 16px 0;
    line-height: 1.6;
}

.custom-footer {
    background-color: #18141C;
    text-align: center;
    padding: 20px 0;
    font-family: 'Times New Roman', serif;
}

.footer-title,
.footer-copy {
    font-size: 28px;
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

.stripe {
    width: 95%;
    height: 1px;
    background: linear-gradient(to right, transparent, white, transparent);
    margin: 10px auto;
}

.custom-footer a, .commissions-section a{
    text-decoration: none;
}

.privacy-section {
    width: 90%;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 40px 30px;
    color: white;
    font-size: 18px;
    line-height: 1.6;
}

.privacy-content h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.privacy-content h2 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.privacy-content ul {
    padding-left: 20px;
    list-style: disc;
    margin-bottom: 20px;
}

.privacy-content a {
    color: #FFD701;
    text-decoration: underline;
}

.promo-banner-container {
    margin-top: 20px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.casino-static {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.casino-static img {
    height: auto;
    display: block;
}

.scrolling-icons-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    right: -120px;
    position: relative;
    z-index: 1;
}

.scrolling-icons-inner {
    display: flex;
    width: 200%;
    height: 100%;
    align-items: center;
    animation: scroll-icons 30s linear infinite;
}

.scrolling-icons-inner img {
    width: 100%;
    height: 127px;
    display: block;
    object-fit: contain;
}

@keyframes scroll-icons {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}